#degree-progress {
    background-color: var(--cmu-red);
    padding: 2rem;
}

#degree-progress h1 {
    color: white;
}

.requirement-section {
    color: black;
    background-color: white;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 1rem;
}

.requirement-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 1rem;
}

.requirement-section li {
    background-image: url(assets/checkbox_white.jpg);
    background-repeat: no-repeat;
    /* background-position: 0 -.25em; */
    padding-left: 3em;
    padding-bottom: 0.5rem;
    margin-bottom: 0.25rem;
}