#sections-offered {
    color: white;
    background-color: var(--cmu-red);
    padding: 1rem;
    border-radius: 1rem;
}

#sections-offered label {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

form button[type="submit"] {
    margin: 1rem 1rem 0.1rem;
}

#breadcrumb-title {
    text-align: center;
}