#login-image {
    text-align:center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: var(--beige);
    padding: 0.25rem 0;
    margin: -0.5rem -0.5rem 0.5rem -0.5rem;
    /* margin: 0 0 0.5rem 0; */
}

form {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

form input[type="submit"] {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    margin: 1rem 0;
}

#login-body {
    margin: 0 1rem;
}